header, footer{
	background-color: #2C3E50;
	color: #fff;
}
	header{
		height: 11vh;
		width: 100%;
		position: fixed;
	}
	footer{
		height: 5vh;
		text-align: center;
	}

section {
	height: 550px;
	text-align: center;
	padding: 5%;
}

ul li{
	display: inline;
	padding: 5px;
	}

h1{
	font-weight: 900;
	font-size: 50px;
	text-transform: uppercase;
}
h2{
	font-weight: 800;
	font-size: 40px;
	padding-top: 0;
	text-transform: uppercase;
	margin-top: 0;
}
h3{
	font-weight: 600;
	font-size: 25px;
}
h4{
	color: #F4A13E;
	font-size: 20px;
}

/*header*/
	.logo{
		margin: 1% 2%;
		float: left;
	}
	.main-menu{
		float:right;
		margin: 1%;
		padding-top: 1%;
	}
	.main-menu a{
		color: #fff;
		text-decoration: none;
	}
	.main-menu a:hover{
		color: #F4A13E;
		text-decoration: none;
	}
	/*hier is js voor nodig vanwege de anchors
	.main-menu li a:active{
		color: #fff;
		text-decoration: none;
		border-bottom: 2px solid #F4A13E;
	}*/

#about, #experiences{
	background-color: #F4A13E;
	color: #fff;
}

#portfolio h2, #contact h2{
	color: #2C3E50;
}

/* about section */
	img.amanda {
	    width: 150px;
	    padding-top: 8%; 
	}

	.about-text{
		width: 60%;
		margin-left: 20%;
	}

/* portfolio section */
	.portfolio-items{
		width: 80%;
		margin-left: 10%;
	}
	.portfolio-items a{
		text-decoration:none; 
	}

	.item{
		width: 32%;
	    float: left;
	    margin: 25px 5px 0 5px;
	}
	img.portfolioImg{
		max-width:100%;
		max-height:100%;
	}

	.portfolioBtn{
		float: left;
		width: 100%;
		margin-top: 15px;
	}

	.portfolioBtn a{
		color: #2C3E50;
		text-decoration: none;
	}

	.portfolioBtn a:hover{
		color: #F4A13E;
		text-decoration: none;
	}

/* experiences section */
	.experience-item{
	    height: 120px;
	    width: 365px;
	    text-align: right;
	    float: left;
	    margin-left: 230px;
	    padding-right: 80px;
	    background-image: url("../images/experience2.png");
	    background-repeat: no-repeat;
	    background-position: 390px 30px;
	    background-size: 50px;
	}

	.right{
		text-align: left;
	    margin-left: 48%;
	    padding-left: 80px;
	    background-position: 0px 30px;
	}

/* contact section */
form {
    width: 100%;
    margin-bottom: 10px;
}

input, textarea{
	width: 60%;
	height: 55px;
	border: none;
	border-bottom: 1px solid #b2b2b2;
	font-size: 15px;  
	display: block;
	margin-left: 20%;
	padding-left: 20px;
	outline: none;
}

textarea{
	padding-top: 35px;
}

	.formBtn{
		height: 40px;
		width: 20%;
		margin-top: 25px;
		background-color: #F4A13E; 
		color: #fff;
		text-transform: uppercase;
		margin-left: 40%;
		border: none;
	}

	.footertext{
		padding-top: 1vh;
	}










